body {
    background-image: url(../img/bcg.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

#provisions {
    background-color: cornflowerblue;
    color: white;
}

#provisions:hover {
    background-color: white;
    color: black;
}

#confectionary {
    background-color: cyan;
    color: white;
}

#confectionary:hover {
    background-color: white;
    color: black;
}

#chocolates {
    background-color: darkcyan;
    color: white;
}

#chocolates:hover {
    background-color: white;
    color: black;
}

#cookies:hover {
    background-color: white;
    color: black;
}

#cookies {
    background-color: crimson;
    color: white;
}

#drinks {
    background-color: dimgrey;
    color: white;
}

#drinks:hover {
    background-color: white;
    color: black;
}

#foodstuff {
    background-color: coral;
    color: white;
}

#foodstuff:hover {
    background-color: white;
    color: black;
}

button {
    margin-top: 40px;
}

button:hover {
    background-color: white;
    color: black;
}



#verb:hover {
    background-color: white;
    color: black;
}

#verb {
    background-color: indigo;
    color: white;
}

#button:hover {
    background-color: white;
    color: black;
}

p {
    box-sizing: border-box;
    border: 2px solid blue;
    padding: 10px 15px;
    border-radius: 20px;
}

#story {
    display: none;
}