 @import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Rubik+Bubbles&display=swap');

 body {
     background-image: url(../img/bcg.webp);
     background-repeat: no-repeat;
     background-size: cover;
     height: 200vh;
 }

 #formOne {
     font-family: 'Rubik Bubbles', system-ui;
     padding-top: 50px;
 }

 /* label {
     font-family: 'Rubik Bubbles', system-ui;
     padding-top: 50px;
 }

 input {
     font-family: 'Rubik Bubbles', system-ui;
     padding-top: 50px;
 } */

 #provisions {
     background-color: cornflowerblue;
     color: white;
 }

 #provisions:hover {
     background-color: white;
     color: black;
 }

 #confectionary {
     background-color: cyan;
     color: white;
 }

 #confectionary:hover {
     background-color: white;
     color: black;
 }

 #chocolates {
     background-color: darkcyan;
     color: white;
 }

 #chocolates:hover {
     background-color: white;
     color: black;
 }

 #cookies:hover {
     background-color: white;
     color: black;
 }

 #cookies {
     background-color: crimson;
     color: white;
 }

 #drinks {
     background-color: dimgrey;
     color: white;
 }

 #drinks:hover {
     background-color: white;
     color: black;
 }

 #foodstuff {
     background-color: coral;
     color: white;
 }

 #foodstuff:hover {
     background-color: white;
     color: black;
 }

 button {
     margin-top: 40px;
 }

 button {
     background-color: white;
     padding: 10px 15px;
     border-radius: 20px;
     border: 0;
     cursor: pointer;
 }


 .hover {
     background-color: white;
     color: black;
 }

 /* p {
     box-sizing: border-box;
     border: 2px solid blue;
     padding: 10px 15px;
     border-radius: 20px;
 } */

 #order {
     display: none;
     font-family: 'Concert One', sans-serif;
     font-size: 40px;
 }